html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
    margin: 1.5em auto;
    column-gap: 1.25em;
    width: 75%;
}

/* The Masonry Brick */
.item {
    background: #fff;
    padding: 1.25em;
    margin: 0 0 1.25em;
}

.img-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.item img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.item:hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
        width: 80%;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
        width: 85%;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
        width: 85%;
    }
}

